In [1]:
import requests
from flask import Flask, jsonify, request
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By
from time import sleep
import time

In [2]:
def scroll_to_end(wd, sleep_between_interactions):
    """
    :param wd: give driver name {"wd = webdriver.Chrome()" and "wd = webdriver.FirefoxOptions()"}
    :param sleep_between_interactions: fix the time sleep value according to your network connection
    :return: scroll down to the end of your page
    """
    prev_h = 0
    while True:
        height = wd.execute_script("""
                    function getActualHeight() {
                        return Math.max(
                            Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
                            Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
                            Math.max(document.body.clientHeight, document.documentElement.clientHeight)
                        );
                    }
                    return getActualHeight();
                """)
        wd.execute_script(f"window.scrollTo({prev_h},{prev_h + 200})")
        # fix the time sleep value according to your network connection
        time.sleep(sleep_between_interactions)
        prev_h += 200
        if prev_h >= height:
            break

In [3]:
from flask import Flask, request, jsonify

l =[]

app = Flask(__name__)
get_url = []
@app.route('/login', methods=["GET", "POST"])

def api():
    phone = request.json['number']
    
    driver = webdriver.Chrome()
    driver.get('https://www.swiggy.com/?utm_source=Google-Sok&utm_medium=CPC&utm_campaign=google_search_sok_food_na_narm_order_web_m_web_clubbedcities_neev_brand_newuser_v1_v2_brand_em&gclid=EAIaIQobChMI4v_e8vjM-gIVVxwrCh1fHABtEAAYASAAEgKZT_D_BwE')
    driver.maximize_window()

    Login_button = driver.find_element(By.LINK_TEXT, 'Login').click()


    driver.find_element(By.XPATH, "//input[@class='_381fS']").send_keys(phone)
    driver.find_element(By.XPATH, "//a[@class='a-ayg']").click()
    
    #return jsonify(str('succesfully inserted'))
    
    
    @app.route('/otp', methods=["GET", "POST"])
    def api1():
        otpn = request.json['number']
        
        driver.find_element(By.XPATH, "//input[@id='otp']").send_keys(otpn)

        driver.find_element(By.XPATH, "//a[@class='a-ayg']").click()
        sleep(5)
        driver.find_element(By.XPATH, "//a[@title='View Account']").click()
        sleep(5)
        #scroll_to_end(driver, 1)
        content = driver.page_source.strip()
        print(type(content))
        l.append(content)
        
        driver.close()
        return jsonify(str('otp accepted'))
    
    return jsonify("data")


if __name__ == '__main__':
    #app.debug = True
    app.run(host='localhost', port=8000)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://localhost:8000/ (Press CTRL+C to quit)
127.0.0.1 - - [09/Oct/2022 19:21:27] "POST /login HTTP/1.1" 200 -
127.0.0.1 - - [09/Oct/2022 19:21:55] "POST /otp HTTP/1.1" 200 -

<class 'str'>

In [50]:
l = ''.join(l)

In [51]:
soup = BeautifulSoup(l,'html.parser')

In [52]:
all_orders = soup.find_all("div",{"class":"_3xMk0"})

In [53]:
all_orders

[<div class="_3xMk0"><div class="g28rk"><div class="_359Fc"><img alt="" class="_12_oN" height="200" width="300"/></div><div class="_2XWVq"><div class="_3h4gz">Fish &amp; Fries</div><div class="_2haEe">Hsr Layout</div><div class="_299_I">ORDER #147723543118 | Sat, Oct 1, 2022, 11:49 PM</div><div class="_1ziWV">VIEW DETAILS</div><div class="_2fkm7"><span>Delivered on Sun, Oct 2, 2022, 12:17 AM<span class="h-Ntp icon-tickSharp"></span></span></div></div></div><div class="_3SKK0"><div class="_33I3_">Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1</div><div class="_2a27y"><a class="_3PUy8 f4Ovn">REORDER</a><a class="_3PUy8">HELP</a></div><div class="_23DHc">Total Paid: <span class="_1jGfr"> 269 </span></div></div></div>,
 <div class="_3xMk0"><div class="g28rk"><div class="_359Fc"><img alt="" class="_12_oN" height="200" width="300"/></div><div class="_2XWVq"><div class="_3h4gz">Hyderabadi Biryani Express</div><div class="_2haEe">Karve Nagar</div><div class="_299_I">ORDER #128685158512 | Wed, Feb 23, 2022, 03:22 PM</div><div class="_1ziWV">VIEW DETAILS</div><div class="_2fkm7"><span>Delivered on Wed, Feb 23, 2022, 03:48 PM<span class="h-Ntp icon-tickSharp"></span></span></div></div></div><div class="_3SKK0"><div class="_33I3_">Hyderabadi Chicken Dum Biryani x 1</div><div class="_2a27y"><a class="_3PUy8 f4Ovn">REORDER</a><a class="_3PUy8">HELP</a></div><div class="_23DHc">Total Paid: <span class="_1jGfr"> 189 </span></div></div></div>,
 <div class="_3xMk0"><div class="g28rk"><div class="_359Fc"><img alt="" class="_12_oN" height="200" width="300"/></div><div class="_2XWVq"><div class="_3h4gz">Kalyan bhel</div><div class="_2haEe">Katraj</div><div class="_299_I">ORDER #123082271350 | Mon, Dec 20, 2021, 07:01 PM</div><div class="_1ziWV">VIEW DETAILS</div><div class="_2fkm7"><span>Delivered on Mon, Dec 20, 2021, 07:47 PM<span class="h-Ntp icon-tickSharp"></span></span></div></div></div><div class="_3SKK0"><div class="_33I3_">Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1</div><div class="_2a27y"><a class="_3PUy8 f4Ovn">REORDER</a><a class="_3PUy8">HELP</a></div><div class="_23DHc">Total Paid: <span class="_1jGfr"> 182 </span></div></div></div>]

# Restaurant Names

In [54]:
all_restaurants = soup.find_all("div",{"class":"_3h4gz"})
all_restaurants

[<div class="_3h4gz">Fish &amp; Fries</div>,
 <div class="_3h4gz">Hyderabadi Biryani Express</div>,
 <div class="_3h4gz">Kalyan bhel</div>]

In [373]:
restaurant_names = []
for i in all_restaurants:
    restaurant_names.append(i.text)

In [374]:
restaurant_names

['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel']

# Order Details

In [57]:
all_id = soup.find_all("div",{"class":"_299_I"})

In [58]:
all_id

[<div class="_299_I">ORDER #147723543118 | Sat, Oct 1, 2022, 11:49 PM</div>,
 <div class="_299_I">ORDER #128685158512 | Wed, Feb 23, 2022, 03:22 PM</div>,
 <div class="_299_I">ORDER #123082271350 | Mon, Dec 20, 2021, 07:01 PM</div>]

In [59]:
order_details = []
for i in all_id:
    order_details.append(i.text)
order_details

['ORDER #147723543118 | Sat, Oct 1, 2022, 11:49 PM',
 'ORDER #128685158512 | Wed, Feb 23, 2022, 03:22 PM',
 'ORDER #123082271350 | Mon, Dec 20, 2021, 07:01 PM']

In [60]:
order_id = []
for i in order_details:
    order_id.append(i.split()[1])
order_id

['#147723543118', '#128685158512', '#123082271350']

In [61]:
ordered_on = []
for i in order_details:
    ordered_on.append(i.split()[3:9])
ordered_on

[['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
 ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
 ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM']]

In [62]:
order_day = []
for i in order_details:
    order_day.append(i.split()[3])
order_day

['Sat,', 'Wed,', 'Mon,']

In [63]:
order_month = []
for i in order_details:
    order_month.append(i.split()[4])
order_month

['Oct', 'Feb', 'Dec']

In [64]:
order_date = []
for i in order_details:
    order_date.append(i.split()[5])
order_date[1]

'23,'

In [65]:
order_year = []
for i in order_details:
    order_year.append(i.strip().split()[6])
order_year

['2022,', '2022,', '2021,']

In [66]:
order_time = []
for i in order_details:
    order_time.append(i.split()[7])
order_time

['11:49', '03:22', '07:01']

In [67]:
order_am_or_pm = []
for i in order_details:
    order_am_or_pm.append(i.split()[8])
order_am_or_pm

['PM', 'PM', 'PM']

# Delivery Details

In [68]:
all_delivery = soup.find_all("div",{"class":"_2fkm7"})

In [69]:
all_delivery

[<div class="_2fkm7"><span>Delivered on Sun, Oct 2, 2022, 12:17 AM<span class="h-Ntp icon-tickSharp"></span></span></div>,
 <div class="_2fkm7"><span>Delivered on Wed, Feb 23, 2022, 03:48 PM<span class="h-Ntp icon-tickSharp"></span></span></div>,
 <div class="_2fkm7"><span>Delivered on Mon, Dec 20, 2021, 07:47 PM<span class="h-Ntp icon-tickSharp"></span></span></div>]

In [70]:
all_delivery[1].text

'Delivered on Wed, Feb 23, 2022, 03:48 PM'

In [71]:
delivery_details = []
for i in all_delivery:
    delivery_details.append(i.text)
delivery_details

['Delivered on Sun, Oct 2, 2022, 12:17 AM',
 'Delivered on Wed, Feb 23, 2022, 03:48 PM',
 'Delivered on Mon, Dec 20, 2021, 07:47 PM']

In [72]:
delivered_on = []
for i in delivery_details:
    delivered_on.append(i.split()[2:8])
delivered_on

[['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
 ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
 ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']]

In [73]:
delivery_day = []
for i in delivery_details:
    delivery_day.append(i.split()[2])
delivery_day

['Sun,', 'Wed,', 'Mon,']

In [74]:
delivery_month = []
for i in delivery_details:
    delivery_month.append(i.split()[3])
delivery_month

['Oct', 'Feb', 'Dec']

In [75]:
delivery_date = []
for i in delivery_details:
    delivery_date.append(i.split()[4])
delivery_date

['2,', '23,', '20,']

In [76]:
delivery_year = []
for i in delivery_details:
    delivery_year.append(i.split()[5])
delivery_year

['2022,', '2022,', '2021,']

In [77]:
delivery_time = []
for i in delivery_details:
    delivery_time.append(i.split()[6])
delivery_time

['12:17', '03:48', '07:47']

In [78]:
delivery_am_pm = []
for i in delivery_details:
    delivery_am_pm.append(i.split()[7])
delivery_am_pm

['AM', 'PM', 'PM']

# Not yet Colmpleted

# Order Details

In [79]:
all_dishes = soup.find_all("div",{"class":"_33I3_"})

In [80]:
all_dishes

[<div class="_33I3_">Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1</div>,
 <div class="_33I3_">Hyderabadi Chicken Dum Biryani x 1</div>,
 <div class="_33I3_">Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1</div>]

In [81]:
all_dishes[1].text

'Hyderabadi Chicken Dum Biryani x 1'

In [82]:
dishes_details = []
for i in all_dishes:
    dishes_details.append(i.text)
dishes_details

['Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
 'Hyderabadi Chicken Dum Biryani x 1',
 'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1']

In [83]:
dish_name = []
for i in dishes_details:
    dish_name.append(i.split()[0])
dish_name

['Tawa', 'Hyderabadi', 'Special']

In [84]:
dishes_details

['Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
 'Hyderabadi Chicken Dum Biryani x 1',
 'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1']

# Payment Details

In [85]:
all_paid = soup.find_all("span",{"class":"_1jGfr"})

In [86]:
all_paid

[<span class="_1jGfr"> 269 </span>,
 <span class="_1jGfr"> 189 </span>,
 <span class="_1jGfr"> 182 </span>]

In [87]:
amount_details = []
for i in all_paid:
    amount_details.append(i.text.strip())
amount_details

['269', '189', '182']

# Restaurant Address

In [88]:
all_address_restaurant = soup.find_all("div",{"class":"_2haEe"})

In [89]:
all_address_restaurant

[<div class="_2haEe">Hsr Layout</div>,
 <div class="_2haEe">Karve Nagar</div>,
 <div class="_2haEe">Katraj</div>]

In [314]:
restaurant_address = []
for i in all_address_restaurant:
    restaurant_address.append(i.text)
restaurant_address

['Hsr Layout', 'Karve Nagar', 'Katraj']

In [91]:
for i in restaurant_address:
    print(i)

Hsr Layout
Karve Nagar
Katraj

In [92]:
restaurant_names
print(restaurant_names[1])

print(restaurant_address[1])

Hyderabadi Biryani Express
Karve Nagar

In [181]:
import mysql.connector as conn

mydb = conn.connect(host = "localhost" , user ="root" , passwd = "8067" )
cursor = mydb.cursor(buffered=True)
cursor.execute("create database if not exists swiggy")

s = "create table if not exists swiggy.orders(Restaurant_Names varchar(40) , Restaurant_Address varchar(40),Order_Id varchar(13), Ordered_On TIMESTAMP, Delivered_On TIMESTAMP, Ordered_Menu varchar(40), Total_Bill int(5))"
q1 = cursor.execute(s)

q2 = cursor.execute("select * from swiggy.orders")

print(q2)

None

In [195]:
# x = ['Restaurant_Names', 'Restaurant_Address', 'Order_Id', 'Ordered_On', 'Delivered_On', 'Ordered_Menu', 'Total_Bill']
# y = [restaurant_names,restaurant_address,order_id,order_on,delivered_on,dishes_details,amount_details]


qry = "insert into swiggy.orders values('adcfdcadc', 'Address', 321, '2022-01-01 01:00:00', '2022-02-02 02:02:02', 'Test orders', 321);"
q3 = cursor.execute("insert into swiggy.orders values('adcfdcadc', 'Address', 321, '2022-01-01 01:00:00', '2022-02-02 02:02:02', 'Test orders', 321);")
print(q2)
mydb.commit()
print(q2)

None
None

In [327]:
dict = {'Restaurant_Names':restaurant_names, 'Restaurant_Address':restaurant_address,'Order_Id': order_id, 'Order_Day':order_day,
       'Order_Date':order_date, 'Order_Month':order_month, 'Order_Year':order_year,'Order_Time':order_time,
        'Order_AM_PM':order_am_or_pm,'Delivery_Day':delivery_day,'Delivery_Date':delivery_date,'Delivery_Month':delivery_month,
        'Delivery_Year':delivery_year,'Delivery_Time':delivery_time,'Delivery_AM_PM':delivery_am_pm,
        'Ordered_Menu':dishes_details,'Total_Bill':amount_details
       }
dict

dict1 = {'Restaurant_Names':restaurant_names, 'Restaurant_Address':restaurant_address,'Order_Id':order_id, 'Ordered_On':ordered_on,
        'delivered_On':delivered_on,'Ordered_Menu':dishes_details,'Total_Bill':amount_details
       }
dict1

arr = [tuple(restaurant_names), tuple(restaurant_address), tuple(order_id), tuple(ordered_on),
        tuple(delivered_on), tuple(dishes_details), tuple(amount_details)]
arr

[(['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel'],),
 ('Hsr Layout', 'Karve Nagar', 'Katraj'),
 ('#147723543118', '#128685158512', '#123082271350'),
 (['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM']),
 (['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']),
 ('Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  'Hyderabadi Chicken Dum Biryani x 1',
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1'),
 ('269', '189', '182')]

In [326]:
x

('Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel')

In [135]:
y

[['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel'],
 ['Hsr Layout', 'Karve Nagar', 'Katraj'],
 ['#147723543118', '#128685158512', '#123082271350'],
 ['#147723543118', '#128685158512', '#123082271350'],
 [['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']],
 ['Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  'Hyderabadi Chicken Dum Biryani x 1',
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1'],
 ['269', '189', '182']]

In [328]:
arr

[(['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel'],),
 ('Hsr Layout', 'Karve Nagar', 'Katraj'),
 ('#147723543118', '#128685158512', '#123082271350'),
 (['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM']),
 (['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']),
 ('Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  'Hyderabadi Chicken Dum Biryani x 1',
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1'),
 ('269', '189', '182')]

In [140]:
q3 = cursor.execute("insert into swiggy.orders values('adcfdcadc', 'Address', 321, '2022-01-01 01:00:00', '2022-02-02 02:02:02', 'Test orders', 321);")
print(q2)
mydb.commit()

'Restaurant_Address'

In [329]:
mike_placeholders="INSERT INTO swiggy.orders VALUES (%s,%s,%s,%s,%s,%s,%s) "

In [345]:
arr

['tuple(restaurant_names)',
 'tuple(restaurant_address)',
 ['#147723543118', '#128685158512', '#123082271350'],
 [['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM']],
 [['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']],
 ['Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  'Hyderabadi Chicken Dum Biryani x 1',
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1'],
 ['269', '189', '182']]

In [398]:
arr1 = []
#arr = [tuple(restaurant_names), tuple(restaurant_address), tuple(order_id), ordered_on,delivered_on, dishes_details, amount_details]
for i in range(len(restaurant_names)):
    arr1.append(
        tuple(
            [restaurant_names[i]]
        )
    )

arr1
    #arr1 = [tuple(restaurant_names), tuple(restaurant_address), tuple(order_id), ordered_on,delivered_on, dishes_details, amount_details]
    #arr1
#result = cursor.executemany(mike_placeholders, arr1)
#mydb.commit()

[('Fish & Fries',), ('Hyderabadi Biryani Express',), ('Kalyan bhel',)]

AttributeError: 'tuple' object has no attribute 'join'

In [ ]:
resta

In [292]:
for i in range(len(restaurant_names)):
    print(tuple([restaurant_address[i]],))

('Hsr Layout',)
('Karve Nagar',)
('Katraj',)

In [550]:
#q3 = cursor.execute("insert into swiggy.orders values('adcfdcadc', 'Address', 321, '2022-01-01 01:00:00', '2022-02-02 02:02:02', 'Test orders', 321);")

for i in range(len(l)):
    q3 = cursor.execute("insert into swiggy.orders values(%s);",(l[i]))
    cursor.execute("INSERT INTO table VALUES (%s, %s, %s)", (var1, var2, var3))
   # cursor.execute(qry)
    mydb.commit();
    
    
#     print(restaurant_names[i])
#     print(restaurant_address[i])
#     print(restaurant_names[i])
#     print(restaurant_address[i])
#     print(order_id[i])
#     print(order_id[i])
#     print(delivered_on[i])
#     print(dishes_details[i])
#     print(amount_details[i])

MySQLInterfaceError: Python type list cannot be converted

['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel']

In [200]:
s1 = cursor.execute("insert into swiggy.orders values( %s)".format(restaurant_names,restaurant_address,order_id,ordered_on,delivered_on,ordered_menu,total_bills))
print(s1)
mydb.commit()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '%s)' at line 1

In [173]:
ordered_menu = dishes_details
total_bills = amount_details

In [184]:
y

[['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel'],
 ['Hsr Layout', 'Karve Nagar', 'Katraj'],
 ['#147723543118', '#128685158512', '#123082271350'],
 ['#147723543118', '#128685158512', '#123082271350'],
 [['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']],
 ['Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  'Hyderabadi Chicken Dum Biryani x 1',
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1'],
 ['269', '189', '182']]

In [201]:
placeholder = ", ".join(["%s"] * len(dict1))
stmt = "insert into swiggy.orders ({columns}) values ({values});".format(table= swiggy.orders, columns=",".join(dict1.keys()), values=placeholder)
cursor.execute(stmt, list(dict1.values()))

NameError: name 'swiggy' is not defined

In [405]:
print(restaurant_names)
print(restaurant_address)
#     print(restaurant_names[i])
#     print(restaurant_address[i])
#     print(order_id[i])
#     print(order_id[i])
#     print(delivered_on[i])
#     print(dishes_details[i])
#     print(amount_details[i])

['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel']
['Hsr Layout', 'Karve Nagar', 'Katraj']

In [406]:
arr = [restaurant_names, restaurant_address, order_id, ordered_on,delivered_on, dishes_details, amount_details]

In [407]:
arr

[['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel'],
 ['Hsr Layout', 'Karve Nagar', 'Katraj'],
 ['#147723543118', '#128685158512', '#123082271350'],
 [['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM']],
 [['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']],
 ['Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  'Hyderabadi Chicken Dum Biryani x 1',
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1'],
 ['269', '189', '182']]

In [467]:
l = []
for i in arr:
    for j in i:
        print(j)

Fish & Fries
Hyderabadi Biryani Express
Kalyan bhel
Hsr Layout
Karve Nagar
Katraj
#147723543118
#128685158512
#123082271350
['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM']
['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM']
['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM']
['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM']
['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM']
['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']
Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1
Hyderabadi Chicken Dum Biryani x 1
Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1
269
189
182

In [454]:
arr[0][1]

'Hyderabadi Biryani Express'

In [468]:
ae = [['Fish & Fries', 'Hyderabadi Biryani Express', 'Kalyan bhel'],
 ['Hsr Layout', 'Karve Nagar', 'Katraj'],
 ['#147723543118', '#128685158512', '#123082271350'],
 [['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM']],
 [['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM']],
 ['Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  'Hyderabadi Chicken Dum Biryani x 1',
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1'],
 ['269', '189', '182']]

In [529]:
l0 = []
for i in ae:
    l0.append(i[0])
l0 = tuple(l0)
l0

('Fish & Fries',
 'Hsr Layout',
 '#147723543118',
 ['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
 ['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
 'Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
 '269')

In [530]:
l1 = []
for i in ae:
    l1.append(i[1])
l1 = tuple(l1)
l1

('Hyderabadi Biryani Express',
 'Karve Nagar',
 '#128685158512',
 ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
 ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
 'Hyderabadi Chicken Dum Biryani x 1',
 '189')

In [531]:
l2 = []
for i in ae:
    l2.append(i[2])
l2 = tuple(l2)
l2

('Kalyan bhel',
 'Katraj',
 '#123082271350',
 ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM'],
 ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM'],
 'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1',
 '182')

In [546]:
l=[]
l.extend((l0,l1,l2))
l

[('Fish & Fries',
  'Hsr Layout',
  '#147723543118',
  ['Sat,', 'Oct', '1,', '2022,', '11:49', 'PM'],
  ['Sun,', 'Oct', '2,', '2022,', '12:17', 'AM'],
  'Tawa Catla Fish Fry (2 Pcs) x 1, Tawa/shallow - Mackerel [bangada] Fish Fry - 1pc x 1',
  '269'),
 ('Hyderabadi Biryani Express',
  'Karve Nagar',
  '#128685158512',
  ['Wed,', 'Feb', '23,', '2022,', '03:22', 'PM'],
  ['Wed,', 'Feb', '23,', '2022,', '03:48', 'PM'],
  'Hyderabadi Chicken Dum Biryani x 1',
  '189'),
 ('Kalyan bhel',
  'Katraj',
  '#123082271350',
  ['Mon,', 'Dec', '20,', '2021,', '07:01', 'PM'],
  ['Mon,', 'Dec', '20,', '2021,', '07:47', 'PM'],
  'Special Bhel x 1, Matki Bhel x 1, Dahi Ragdapuri x 1',
  '182')]